<h1> Welcome to Travel Buddies!</h1>
<h4>Explore the Travels of the Travel Buddies:</h4>
  <% @users.each do |user| %>
    <div class="underlined-list">
      <span class="no-underline bold-text"><%= link_to user.name, user_trips_path(user) %> </span><br>
      <% if user.trips.count >= 1 %>
        <p>Last Trip Added: <%= user.last_trip.city.name %></p>
        <% else%>
        <p>No trips added yet</p>
      <% end %>
    </div>
  <% end %>